<div class="serviceprovidersgrid row-gap-3">
  <% allServiceProviders.reverse().forEach(provider => { %>
  <div class="card" style="width: 18rem">
    <img src="<%=provider.photo%>" class="card-img-top" alt="..." />
    <div class="card-img-overlay" style="height: 20px">
      <script>
        serviceproviderCheckVerified("<%= provider.isverified %>");
      </script>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= provider.globalname %></h5>
      <h7>
        <% if(provider.category1=="1"){ %>Sala <%}if(provider.category2=="1"){
        %> Katering <%}if(provider.category3=="1"){ %> Muzykanci<%};%>
      </h7>
      <p class="card-text">
        <script>
          serviceproviderShortText("<%= provider.description %>");
        </script>
      </p>
      <a href="/serviceproviderfull/<%= provider._id %>" class="btn btn-primary"
        >Więcej...</a
      >
    </div>
  </div>
  <% }); %>
</div>
