<div class="serviceprovidersgrid">
  <% allServiceProviders.forEach(provider => { %>
  <div class="card" style="width: 18rem">
    <img src="<%=provider.photo%>" class="card-img-top" alt="..." />
    <div class="card-body">
      <script>
        serviceproviderCheckVerified("<%= provider.isverified %>");
      </script>
      <h5 class="card-title"><%= provider.globalname %></h5>
      <p class="card-text">
        <script>
          serviceproviderShortText("<%= provider.description %>");
        </script>
      </p>
      <a href="/serviceproviderfull/<%= provider._id %>" class="btn btn-primary"
        >Więcej...</a
      >
    </div>
  </div>
  <% }); %>
</div>
