<form action="/userdashboard/<%= user._id%>" method="POST">
  <div class="mb-3">
    <label class="small mb-1" for="username">Nazwa użytkownika</label>
    <!-- prettier-ignore -->
    <input disabled
      class="form-control"
      id="username"
      type="text"
      placeholder="Wprowadź swoją nazwę"
      value=<%= user.username %>
    />
  </div>
  <div class="row gx-3 mb-3">
    <div class="col-md-6">
      <label class="small mb-1" for="firstname">Imię</label>
      <!-- prettier-ignore -->
      <input
        class="form-control"
        id="firstname"
        name="firstname"
        type="text"
        placeholder="Wprowadź swoje imię"
        value=<%= user.firstname %>
      />
    </div>
    <div class="col-md-6">
      <label class="small mb-1" for="lastname">Nazwisko</label>
      <!-- prettier-ignore -->
      <input
        class="form-control"
        id="lastname"
        name="lastname"
        type="text"
        placeholder="Wprowadź swoje nazwisko"
        value=<%= user.lastname %>
      />
    </div>
  </div>
  <div class="mb-3">
    <label class="small mb-1" for="email">Adres email</label>
    <!-- prettier-ignore -->
    <input
      class="form-control"
      id="email"
      name="email"
      type="email"
      placeholder="Wprowadź adres email"
      value=<%= user.email %>
    />
  </div>
  <button class="btn btn-primary" type="submit">Potwierdź</button>
</form>
<script src="js/userupdatealert.js"></script>
