<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="container text-center mt-2">
        <% if (user.superadmin=="yes") { %>
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-success">Zweryfikuj</button>
            <button type="button" class="btn btn-danger">Usuń</button>
          </div>
        </div>
        <%} else { %><%}%>
        <div class="row">
          <div class="col">
            <h2 class="card-title"><%= serviceprovider.globalname %></h5>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col">
            <%- include('../partials/serviceproviderfullinfo'); %>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col">
            <%- include('../partials/serviceproviderfullinfophoto'); %>
          </div>
        </div>
        
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
    <%- include('../partials/scripts'); %>
  </body>
</html>
